<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.business.bussinessSum.BussinessSumMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="baseResultMap" type="com.cloud.business.bussinessSum.BussinessSumModel">
            <result property="id" column="id"/>
            <result property="bussinessUserId" column="bussiness_user_id"/>
            <result property="teamId" column="team_id"/>
            <result property="totalAmt" column="total_amt"/>
            <result property="createTime" column="create_time"/>
            <result property="updateTime" column="update_time"/>
            <result property="createId" column="create_id"/>
            <result property="updateId" column="update_id"/>
            <result property="remark" column="remark"/>
	</resultMap>



<sql id="baseColumns">
	id
,
	bussiness_user_id
,
	team_id
,
	total_amt
,
	create_time
,
	update_time
,
	create_id
,
	update_id
,
	remark
</sql>



<sql id="queryConditions">
	WHERE 1=1
	<if test="bussinessSumModel != null">
	<if test="bussinessSumModel.id > 0 ">
		AND id =	#{bussinessSumModel.id}
 </if>
	<if test="bussinessSumModel.bussinessUserId > 0 ">
		AND bussiness_user_id =	#{bussinessSumModel.bussinessUserId}
 </if>
	<if test="bussinessSumModel.teamId > 0 ">
		AND team_id =	#{bussinessSumModel.teamId}
 </if>
	<if test="bussinessSumModel.totalAmt != null and bussinessSumModel.totalAmt !=''">
	AND total_amt =	#{bussinessSumModel.totalAmt}
 </if>
	<if test="bussinessSumModel.createTime != null and bussinessSumModel.createTime !=''">
	AND create_time =	#{bussinessSumModel.createTime}
 </if>
	<if test="bussinessSumModel.updateTime != null and bussinessSumModel.updateTime !=''">
	AND update_time =	#{bussinessSumModel.updateTime}
 </if>
	<if test="bussinessSumModel.createId > 0 ">
		AND create_id =	#{bussinessSumModel.createId}
 </if>
	<if test="bussinessSumModel.updateId > 0 ">
		AND update_id =	#{bussinessSumModel.updateId}
 </if>
	<if test="bussinessSumModel.remark != null and bussinessSumModel.remark !=''">
	AND remark =	#{bussinessSumModel.remark}
</if>	
</if>
</sql>


<sql id="limit">
	<if test="page != null">
		limit #{page.start},#{page.pageSize}
	</if>
</sql>



<insert id="save" parameterType="com.cloud.business.bussinessSum.BussinessSumModel" useGeneratedKeys="true" keyProperty="bussinessSum.id" keyColumn="id">
		insert into t_bussiness_sum
		<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="bussinessSumModel != null">
		<if test="bussinessSumModel.id >0">
				id
, 
        </if>
		<if test="bussinessSumModel.bussinessUserId >0">
				bussiness_user_id
, 
        </if>
		<if test="bussinessSumModel.teamId >0">
				team_id
, 
        </if>
		<if test="bussinessSumModel.totalAmt != null">
				total_amt
, 
        </if>
		<if test="bussinessSumModel.createTime != null">
				create_time
, 
        </if>
		<if test="bussinessSumModel.updateTime != null">
				update_time
, 
        </if>
		<if test="bussinessSumModel.createId >0">
				create_id
, 
        </if>
		<if test="bussinessSumModel.updateId >0">
				update_id
, 
        </if>
		<if test="bussinessSumModel.remark != null">
				remark
		</if>
		</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			
			<if test="bussinessSumModel.id >0">
			#{bussinessSumModel.id}
, 
		 </if>
			<if test="bussinessSumModel.bussinessUserId >0">
			#{bussinessSumModel.bussinessUserId}
, 
		 </if>
			<if test="bussinessSumModel.teamId >0">
			#{bussinessSumModel.teamId}
, 
		 </if>
			<if test="bussinessSumModel.totalAmt != null and bussinessSumModel.totalAmt !=''">
			#{bussinessSumModel.totalAmt}
, 
		 </if>
			<if test="bussinessSumModel.createTime != null and bussinessSumModel.createTime !=''">
			#{bussinessSumModel.createTime}
, 
		 </if>
			<if test="bussinessSumModel.updateTime != null and bussinessSumModel.updateTime !=''">
			#{bussinessSumModel.updateTime}
, 
		 </if>
			<if test="bussinessSumModel.createId >0">
			#{bussinessSumModel.createId}
, 
		 </if>
			<if test="bussinessSumModel.updateId >0">
			#{bussinessSumModel.updateId}
, 
		 </if>
			<if test="bussinessSumModel.remark != null and bussinessSumModel.remark !=''">
			#{bussinessSumModel.remark}
			</if>	
		</trim>
		</insert>
		
		
	<insert id="saveList" >
		insert into  t_bussiness_sum
			<trim prefix="(" suffix=")" suffixOverrides=",">
				
					<if test="bussinessSumModel.id >0">
						id
, 
		        	</if>
				
					<if test="bussinessSumModel.bussinessUserId >0">
						bussiness_user_id
, 
		        	</if>
				
					<if test="bussinessSumModel.teamId >0">
						team_id
, 
		        	</if>
				
					<if test="bussinessSumModel.totalAmt != null">
									total_amt
, 
		        	</if>
				
					<if test="bussinessSumModel.createTime != null">
									create_time
, 
		        	</if>
				
					<if test="bussinessSumModel.updateTime != null">
									update_time
, 
		        	</if>
				
					<if test="bussinessSumModel.createId >0">
						create_id
, 
		        	</if>
				
					<if test="bussinessSumModel.updateId >0">
						update_id
, 
		        	</if>
				
					<if test="bussinessSumModel.remark != null">
									remark
					</if>
			</trim>
		VALUES
			<foreach collection="listBussinessSumModel" item="bussinessSumModel" index="index"
				separator="," >
			(
			
				<if test="bussinessSumModel.id >0">
				#{bussinessSumModel.id}
, 
			     	</if>
			
				<if test="bussinessSumModel.bussinessUserId >0">
				#{bussinessSumModel.bussinessUserId}
, 
			     	</if>
			
				<if test="bussinessSumModel.teamId >0">
				#{bussinessSumModel.teamId}
, 
			     	</if>
			
				<if test="bussinessSumModel.totalAmt != null">
				#{bussinessSumModel.totalAmt}
, 
			     	</if>
			
				<if test="bussinessSumModel.createTime != null">
				#{bussinessSumModel.createTime}
, 
			     	</if>
			
				<if test="bussinessSumModel.updateTime != null">
				#{bussinessSumModel.updateTime}
, 
			     	</if>
			
				<if test="bussinessSumModel.createId >0">
				#{bussinessSumModel.createId}
, 
			     	</if>
			
				<if test="bussinessSumModel.updateId >0">
				#{bussinessSumModel.updateId}
, 
			     	</if>
			
				<if test="bussinessSumModel.remark != null">
				#{bussinessSumModel.remark}
				</if>	
			)
			</foreach>
		</insert>	
		
		
	<select id="queryDetail" parameterType="com.cloud.business.bussinessSum.BussinessSumModel" resultMap="baseResultMap" >
		select <include refid="baseColumns"/>  from t_bussiness_sum 
		<include refid="queryConditions"/>
	</select>	
	
	
	<select id="queryList" resultMap="baseResultMap"
		parameterType="com.cloud.business.bussinessSum.BussinessSumModel">
		select <include refid="baseColumns"/> from t_bussiness_sum 
			<include refid="queryConditions"/>
				order by id desc
	</select>
	
	
	  <select id="queryListByPage" resultMap="baseResultMap"
            parameterType="com.cloud.business.bussinessSum.BussinessSumModel">
        select
        <include refid="baseColumns"/>  from t_bussiness_sum
        <include refid="queryConditions"/>
    </select>
	
	<select id="queryCount" parameterType="com.cloud.business.bussinessSum.BussinessSumModel"
		resultType="java.lang.Long">
		SELECT COUNT(1) FROM t_bussiness_sum 
		<include refid="queryConditions"/>
	</select>
	
	
	
	
	<update id="update" parameterType="com.cloud.business.bussinessSum.BussinessSumModel" >
		update t_bussiness_sum 
		<set> 
					
			<if test="bussinessSumModel.id > 0">
				id = #{bussinessSumModel.id}
,
			</if>
					
			<if test="bussinessSumModel.bussinessUserId > 0">
				bussiness_user_id = #{bussinessSumModel.bussinessUserId}
,
			</if>
					
			<if test="bussinessSumModel.teamId > 0">
				team_id = #{bussinessSumModel.teamId}
,
			</if>
					
			<if test="bussinessSumModel.totalAmt != null and bussinessSumModel.totalAmt !=''">
				total_amt =	#{bussinessSumModel.totalAmt}
,
			</if>
					
			<if test="bussinessSumModel.createTime != null and bussinessSumModel.createTime !=''">
				create_time =	#{bussinessSumModel.createTime}
,
			</if>
					
			<if test="bussinessSumModel.updateTime != null and bussinessSumModel.updateTime !=''">
				update_time =	#{bussinessSumModel.updateTime}
,
			</if>
					
			<if test="bussinessSumModel.createId > 0">
				create_id = #{bussinessSumModel.createId}
,
			</if>
					
			<if test="bussinessSumModel.updateId > 0">
				update_id = #{bussinessSumModel.updateId}
,
			</if>
					
			<if test="bussinessSumModel.remark != null and bussinessSumModel.remark !=''">
				remark =	#{bussinessSumModel.remark}
			</if>
		</set>	
			where id = #{bussinessSumModel.id} 
	</update>
	
	
	<update id="updateList" >
	  <foreach collection="listBussinessSumModel" item="bussinessSumModel" index="index" open="" close="" separator=";">
		update t_bussiness_sum 
		<set> 
					
			<if test="bussinessSumModel.id > 0">
				id = #{bussinessSumModel.id}
,
			</if>
					
			<if test="bussinessSumModel.bussinessUserId > 0">
				bussiness_user_id = #{bussinessSumModel.bussinessUserId}
,
			</if>
					
			<if test="bussinessSumModel.teamId > 0">
				team_id = #{bussinessSumModel.teamId}
,
			</if>
					
			<if test="bussinessSumModel.totalAmt != null and bussinessSumModel.totalAmt !=''">
				total_amt =	#{bussinessSumModel.totalAmt}
,
			</if>
					
			<if test="bussinessSumModel.createTime != null and bussinessSumModel.createTime !=''">
				create_time =	#{bussinessSumModel.createTime}
,
			</if>
					
			<if test="bussinessSumModel.updateTime != null and bussinessSumModel.updateTime !=''">
				update_time =	#{bussinessSumModel.updateTime}
,
			</if>
					
			<if test="bussinessSumModel.createId > 0">
				create_id = #{bussinessSumModel.createId}
,
			</if>
					
			<if test="bussinessSumModel.updateId > 0">
				update_id = #{bussinessSumModel.updateId}
,
			</if>
					
			<if test="bussinessSumModel.remark != null and bussinessSumModel.remark !=''">
				remark =	#{bussinessSumModel.remark}
			</if>
		</set>	
			where id = #{Id} 
		</foreach>	
	</update>
		
	
	
	
	
	<delete id="delete" parameterType="com.cloud.business.bussinessSum.BussinessSumModel">
		 delete from t_bussiness_sum 
		<include refid="queryConditions"/>
	</delete>
	
	


</mapper>
